services:
  server:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.server
    ports:
      - "3000:3000"
    container_name: "live-rooms-server"
    networks:
      - live-rooms-network
  
  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.web
      args:
        VITE_SIGNALLING_SERVER_URL: http://server:3000
    ports:
      - "5173:5173"
    container_name: "live-rooms-web"
    depends_on:
      - server
    networks:
      - live-rooms-network

networks:
  live-rooms-network:
    driver: bridge